<footer class="main">
    <div class="container">
    </div>


    <div class="copyright text-center">
        Powered by <a href="http://wordpress.org/">WordPress</a> | <a href="https://wpmagplus.com/" target="_blank" rel="nofollow">WP Newspaper by WP Mag Plus</a>
    </div>
    <div class="scroll-top-wrapper"> <span class="scroll-top-inner"><i class="fa fa-2x fa-angle-up"></i></span></div>

    <script type='text/javascript' src='/css/wp-newspaper/js/fontawesome.js?ver=5.14.0' id='fontawesome-js'></script>
    <script type='text/javascript' src='/css/wp-newspaper/js/script.js?ver=1.0.0' id='wp-newspaper-scripts-js'></script>
    <script type='text/javascript' src='/css/wp-newspaper/js/owl.carousel.js?ver=2.2.1' id='owl-js'></script>
    <script type='text/javascript' src='/css/wp-newspaper/js/navigation.js?ver=1.0.0' id='wp-newspaper-navigation-js'></script>
</footer>